$page-width: 100 wh
$panel-left: 20%
$panel-right: 80%
$primary-color: white

.wrapper
  width: $page-width
  background-color: navajowhite
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start
  padding: 10px

.naviga
  //width: 100%
  height: 80px
  background-color: aquamarine
  flex: 100%
  padding: 10px


.leftpanel
  flex: $panel-left
  background-color: lightgreen
  padding: 10px

.rightpanel
  flex: $panel-right
  background-color: ivory
  padding: 50px

.tablex
  background-color: deepskyblue
