<div *ngIf="isLoggedIn">

    <div class="container">
        <div class="wrapper">
            <div class="leftpanel">
                <app-menu></app-menu>
            </div>
            <div class="rightpanel">
                <div><h3>Add movie to your database:</h3></div>
                <div>
                    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f.value)">
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control" placeholder="Enter movie title" for="Title"
                                   [(ngModel)]="formItem.Title"
                                   name="Title"
                                   #Title="ngModel"
                                   required
                                   [ngClass]="{'is-invalid': f.submitted && Title.invalid}"
                            />
                            <div *ngIf="f.submitted && Title.invalid" class="alert alert-danger">
                                <div *ngIf="Title.errors?.required">
                                    Title is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Year:</label>
                            <input type="text" class="form-control" placeholder="Enter movie year" for="Year"
                                   [(ngModel)]="formItem.Year"
                                   name="Year"
                                   #Year="ngModel"
                                   min="1970"
                                   max="2022"
                                   required
                                   [ngClass]="{'is-invalid': f.submitted && Year.invalid}"
                            />
                            <div *ngIf="f.submitted && Year.invalid" class="alert alert-danger">
                                <div *ngIf="Year.errors?.required">
                                    Year is required.
                                </div>
                            </div>

                        </div>
                        <div>
                            <label>Released:</label>
                            <input type="text" class="form-control" placeholder="Enter movie release date"
                                   for="Released"
                                   [(ngModel)]="formItem.Release"
                                   name="Released"
                                   #Released="ngModel"
                                   required
                                   [ngClass]="{'is-invalid': f.submitted && Released.invalid}"
                            />
                            <div *ngIf="f.submitted && Released.invalid" class="alert alert-danger">
                                <div *ngIf="Released.errors?.required">
                                    Released is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Genre:</label>
                            <input type="text" class="form-control" placeholder="Enter movie genre" for="Genre"
                                   [(ngModel)]="formItem.Genre"
                                   name="Genre"
                                   #Genre="ngModel"
                                   required
                                   [ngClass]="{'is-invalid': f.submitted && Genre.invalid}"
                            />
                            <div *ngIf="f.submitted && Genre.invalid" class="alert alert-danger">
                                <div *ngIf="Genre.errors?.required">
                                    Genre is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary float-right" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<p><a href="/logout" (click)="logout()">logout</a></p>-->
<!--Go from add item to <a href="/login">Login page</a>-->
