<div class="container">
  <div class="wrapper">
    <div class="leftpanel">
      <app-menu></app-menu>
    </div>

    <div class="rightpanel">

      <p>Welcome to filmotheque application</p>

      <!--<div>-->


      <!--</div>-->

    </div>
  </div>
</div>

<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  Please <a href="login">Login</a> .
</ng-template>