<table class="table">
    <tr>
        <td>Welcome <br> {{getCurrentUser()}}!</td>
    </tr>
    <tr>
        <td><a [routerLink]="['/all']">All movies</a></td>
    </tr>

    <tr>
        <td><a [routerLink]="['/add']">Add movie</a></td>
    </tr>

    <tr>
        <td><a [routerLink]="['/searchI']">Search movie</a></td>
    </tr>

    <tr>
        <td><a [routerLink]="['/searchE']">Search movie OMDB</a></td>
    </tr>

    <tr>
        <td><a [routerLink]="['/logout']" (click)="logout()">Logout</a></td>
    </tr>
</table>
